<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id No</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>

<form>
  <input placeholder="Enter Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" />
  <input placeholder="Enter First Name" [(ngModel)]="user.first_name" [ngModelOptions]="{standalone: true}">
  <input placeholder="Enter Last Name" [(ngModel)]="user.last_name" [ngModelOptions]="{standalone: true}" />
  <button type="submit" (click)="createUser()">Save</button>
</form>

<br>
<br>

<form>
  <input placeholder="Enter User Id" [(ngModel)]="delId" [ngModelOptions]="{standalone: true}" />
  <button type="submit" (click)="deleteUser()">Delete User</button>
</form>

<br>
<br>

<form>
  <input placeholder="Enter User Id" [(ngModel)]="searchId" [ngModelOptions]="{standalone: true}" />
  <button type="submit" (click)="getUser()">Search User</button>
</form>

<br>
<br>

<form>
  <input placeholder="Enter User Id" [(ngModel)]="updateId" [ngModelOptions]="{standalone: true}" />
  <input placeholder="Enter Email" [(ngModel)]="updateUserData.email" [ngModelOptions]="{standalone: true}" />
  <input placeholder="Enter First Name" [(ngModel)]="updateUserData.first_name" [ngModelOptions]="{standalone: true}">
  <input placeholder="Enter Last Name" [(ngModel)]="updateUserData.last_name" [ngModelOptions]="{standalone: true}" />
  <button type="submit" (click)="updateUser()">Edit</button>
</form>

<br>
<br>

<button type="submit" (click)="showList()">Refresh</button>